:root {
    --header-color:#405066;
    --nav-color: #566982;
    --banner-color: #131F30;
} 

.Gryffindor {
    --house-color: #C22B2C;
    --house-secondary: #E1975E;
}

.Slytherin {
    --house-color: #64A776;
    --house-secondary:#70A092;
}

.Hufflepuff {
    --house-color:#262523;
    --house-secondary:#FACA0F;
}

.Ravenclaw {
    --house-color:#5482BD;
    --house-secondary:#799BA3;
}

* {
    box-sizing: border-box;
    margin: 0;
}

/* Break point for the "full window computer" */ 
/* Break point for the "full window computer" */ 
/* Break point for the "full window computer" */ 

@media only screen and (min-width: 10px) and (max-width: 929px){ 

    body {
        background-color: #DADADA;
        display: grid;
        grid-template-columns: 2px 1fr;   
        grid-template-rows: repeat(auto, 2);
        grid-template-areas: 
        "a a "
        "c b";
        
    }

    .banner {
        visibility: hidden;
        position: absolute;
        z-index: 8;
        background-color: hotpink;
        height: 33vh;
        width: 250px;
        top: 10px;
        left: 20px;
        display:flex;
        flex-flow: column;
        justify-content: flex-end;
    
    }

    /* number appearing on top of the Header */

.tracking_houses {
    border-left: solid 1px white;
    border-right: solid 1px white;
    padding-left: 2em;
    padding-right: 2em;
}

.tracking_wrapper {
    position: relative;
    z-index: 1;

    height: 165px;
    margin-left: 1em;
    display:flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

/* starting on the navigation bar */
/* NAVIGATION BAR FOR IPAD */

nav {

    /* for the banner */
    padding: 1em 1em 1em 1em;

    height: auto    ;
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    grid-gap: 10px;

    background-color: var(--nav-color);

}

/* responsive modal content */

.modal-content {
    display: grid;
    grid-template-rows: auto repeat(3, 20px);
    grid-gap: 1em;
    align-items: center;
    justify-items: center;

    background-color: white;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    height: 70vh;
    border: 10px solid var(--house-color);
    border-radius: 20px;
    width: 50%; /* Could be more or less, depending on screen size */
}

.sigil_img {
    display:none;
    height: 100%;
    grid-row: 2 / span 3;
    grid-column: 2;
    place-self: center;
}

.make-prefect {
    grid-row: 2;
    grid-column: 1;
}

.make-squad {
    grid-row: 3;
    grid-column: 1;
}

.make-expelled {
    grid-row: 4;
    grid-column: 1;
}}

/* end of the break point 1*/ 

@media only screen and (min-width: 930px) and (max-width: 1439px){

    body {
        background-color: #DADADA;
        display: grid;
        grid-template-columns: 10vw 1fr;   
        grid-template-rows: repeat(auto, 2);
        grid-template-areas: 
        "a a "
        "c b";
        
    }

    .banner {
        position: absolute;
        z-index: 8;
        background-color:var(--banner-color);
        width: 250px;
        top: 10px;
        left: 20px;
        display:flex;
        flex-flow: column;
        justify-content: flex-end;
    
    }
    
    .banner img {
        width: 220px;
        align-self: center  ;
    }
    .empty {
        width: 0; 
        height: 0; 
        border-left: 125px solid transparent;
        border-right: 125px solid transparent;
        border-bottom: 30px solid var(--nav-color);
    }

    /* number appearing on top of the Header */

.tracking_houses {
    border-left: solid 1px white;
    border-right: solid 1px white;
    padding-left: 2em;
    padding-right: 2em;
}

.tracking_wrapper {
    position: relative;
    z-index: 1;

    height: 165px;
    margin-left: 320px;
    display:flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

/* starting on the navigation bar */
/* NAVIGATION BAR FOR IPAD */

nav {

    /* for the banner */
    padding: 1em 1em 1em 260px;

    height: auto    ;
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    grid-gap: 10px;

    background-color: var(--nav-color);

}

/* responsive modal content */

.modal-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto repeat(3, 20px);
    grid-gap: 1em;
    align-items: center;
    justify-items: center;

    background-color: white;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    height: 350px;
    border: 10px solid var(--house-color);
    border-radius: 20px;
    width: 50%; /* Could be more or less, depending on screen size */
}

.sigil_img {
    height: 100%;
    grid-row: 2 / span 3;
    grid-column: 2;
    place-self: center;
}

.make-prefect {
    grid-row: 2;
    grid-column: 1;
}

.make-squad {
    grid-row: 3;
    grid-column: 1;
}

.make-expelled {
    grid-row: 4;
    grid-column: 1;
}}

/* end of the break point 2*/ 

@media only screen and (min-width: 1440px){

    body {
        background-color: #DADADA;
        display: grid;
        grid-template-columns: 275px 1fr;   
        grid-template-rows: repeat(auto, 2);
        grid-template-areas: 
        "a a "
        "c b";
        
    }

    .banner {
        position: fixed;
        z-index: 8;
        background-color:var(--banner-color);
        height: 325px;
        width: 250px;
        top: 10px;
        left: 20px;
        display:flex;
        flex-flow: column;
        justify-content: flex-end;
    
    }
    
    .banner img {
        width: 100%;
    }
    .empty {
        width: 0; 
        height: 0; 
        border-left: 125px solid transparent;
        border-right: 125px solid transparent;
        border-bottom: 30px solid #DADADA;
    }

.tracking_houses {
    border-left: solid 1px white;
    border-right: solid 1px white;
    padding-left: 12em;
    padding-right: 12em;
}

.tracking_wrapper {
    position: relative;
    z-index: 1;

    height: 165px;
    margin-left: 320px;
    display:flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

/* starting on the navigation bar */
nav {
    padding-left: 260px;
    height: 75px;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--nav-color);
}

/* responsive modal content */

.modal-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 20px;
    align-items: center;
    justify-items: center;

    background-color: white;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    height: 350px;
    border: 10px solid var(--house-color);
    border-radius: 20px;
    width: 50%; /* Could be more or less, depending on screen size */
}

.sigil_img {
    width: 60%;
    grid-row: 1;
    grid-column: 3;
    place-self: center;
}

.make-prefect {
    grid-row: 2;
    grid-column: 1;
}

.make-squad {
    grid-row: 2;
    grid-column: 2;
}

.make-expelled {
    grid-row: 2;
    grid-column: 3;
}}

/* end of the break point 3 */ 
/* end of the break point 3 */ 
/* end of the break point 3 */ 
/* end of the break point 3 */ 

/* HERE STARTS EVERYTHING THAT ISN'T CHANGING WITH THE BREAKPOINTS */ 
/* HERE STARTS EVERYTHING THAT ISN'T CHANGING WITH THE BREAKPOINTS */ 
/* HERE STARTS EVERYTHING THAT ISN'T CHANGING WITH THE BREAKPOINTS */ 

/* number appearing on top of the Header */
    
    .tracking {
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
        align-items: center;
    }
    
    .tracking p {
        color: white;
        font-size: 1.5em;
    }
    
    .number {
        color: white;
        font-size: 4em;
    }
    
    .tracking_houses p {
        font-size: 1.1em;
        padding: 0.2em;
        align-self: flex-start;
    }

    nav button, nav input {

        height: 35px;
        width: 125px;
        background-color: transparent;
        border: none;
        color: white;
        border-bottom: solid 1px white;
    }
    
    #Prefect-filter, #Squad-filter {
        width: 175px;
        font-size: 1.2em;
    }
    
    ::placeholder {
        color:white;
        font-size: 1.3em;
    }
    
    .expanding_button {
    
        height: 34px;
        border: solid 1px white;
        
        color: white;
        font-size: 1.3em;
    
        display: flex;
        flex-flow: column;
        align-items: center;
    
        padding-top:4px;
        border-radius: 50px;
    
    }
    
    .expanding_button:hover {
        cursor: pointer;
        background-color: white;
        color: var(--nav-color);
        position:relative;
        font-weight: bold;
    }
    
    .expanding_button:hover .button_name {
        color: var(--nav-color);
    }
    
    
    .button_name {
        cursor: pointer;
        width: 175px;
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
        background-color: transparent;
        color: white;
        border: none;
        font-size: 0.8em;
        z-index:10;
    }
    
    .button_name:focus {
        outline: 0;
    }
    .active {
        background-color:white;
        color: var(--nav-color);
    }
    /* sub menus for the nav bar */
    
    .dropdown-content {
        z-index:3;
        display: none;
        position: absolute;
        font-weight: normal;
        height: auto;
        font-size: 0.8em;
        padding: 1em;
        top:19px;
    }
    
    .dropdown-content input {
        grid-column: 2;
        width: 15px;
    }
    
    .expanding_button:hover .dropdown-content {
        display: inline-block;
        background-color: white;
        border-radius: 0 0 20px 20px;
        width: 177px;
    }
    
    .wrapper_input {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        }
    
    
.Expelled {
    --house-color: grey;
    --house-secondary: grey;
}

.alert-box {
    height: 100vh;
    width: 100vw;
    background-color: greenyellow;
    z-index: 200;
    position:fixed;
    padding-top: 2em;
    padding-left: 30em;
}

.alert-box p {
    font-size: 2em;
    color: violet;
    padding-top: 1em;
}

/* starting on the header + nav bar */

header {
    grid-area: a;

    margin-top: 15px;
    height: 250px;
    width: 100%;

    background-color: var(--header-color);

    display: flex;
    flex-flow: column;
    justify-content: space-between;
}


/* sorting buttons - final three buttons - no need for a dropdown menu
 => used a div / no styling on buttons finally */

/* arrow styling: from https://www.w3schools.com/howto/howto_css_arrows.asp */ 

.arrow {
    margin-top:3px;
    border: solid white ;
    border-width: 0 1px 1px 0;
    padding: 1px;
    height:10px;
    width:10px;
    transform: rotate(45deg);
  }

.expanding_button:hover .arrow {
    border: solid var(--nav-color);
    border-width: 0 1px 1px 0;
}
.up {
    margin-top: 10px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}


/* starting on the grid for the student cards */ 

.grid {

justify-items: center;
margin-top: 1em;
grid-area: b;
display: grid;
grid-template-columns: repeat( auto-fit, minmax(400px, 1fr));
grid-gap: 1em;
}

/* styling for the student cards - called cartouche */

.cartouche {

    display: flex;
    flex-flow: row;
    justify-content: space-between;

    width: 400px;
    height: 100px;
    background-color: white;
    border-radius: 60px 0 0 60px;

}

.cartouche img {
    border-radius:55px;
    height: 95%;
    align-self: center;
    margin-left:5px;
    transform: scale(1.2);
}

.cartouche figure{
    border-radius:55px;
    border: solid 1px var(--house-secondary);
    height: 95%;
    align-self: center;
    margin-left:5px;
    overflow: hidden;
}

.cartouche h1 {
    margin-top: 10px;
    font-size: 1.8em;
}
.color_cartouche {
    height: 100%;
    width: 10px;
    background-color: var(--house-color);
}

.dot {
    background-color: black;
    height:4px;
    width:4px;
    border-radius:50px;
}

.status {
    margin-top: 5px;
    margin-bottom: 10px;
}
 
.status p, .dot {
    margin-right: 0.5em;
}

.status, .tags {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
}

.tags>div {
    display:none;
    margin-right: 0.5em;
    font-size: 0.8em;
    background-color: var(--house-color);
    color:white;
    border-radius: 50px;
    width: 40%;
    text-align: center;

}

/* starting on the modal - because who doesn't love a modal? 
Highly inspired by https://www.w3schools.com/howto/howto_css_modals.asp*/ 

/* The Modal (background) */

.modal-background {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 15; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  




.modal-background > div > figure > img {
    height: 150px;
}

.make-prefect, .make-squad, .make-expelled {
    color: white;
    border-radius: 20px;
    border-color: transparent;
    background-color: var(--house-secondary);

    cursor: pointer;
    width: 175px;
    height: 20px;
    align-self: center;
}





